[core]
	autocrlf = false

[alias]
	k = !start gitk HEAD $(git for-each-ref HEAD refs/remotes refs/heads refs/tags --format='"%(refname)"')
	g = !start git-gui "$@"
	cfg = !start gvim $(git rev-parse --git-dir)/config

[diff]
	#compactionHeuristic = true
	mnemonicPrefix = true
	interHunkContext = 5
	indentHeuristics = true
	guitool = kdiff3

[branch]
	autosetuprebase = remote

[rerere]
	enabled = true

[merge]
	renamelimit = 1000000
	tool = kdiff3

[tag]
	sort = version:refname

[versionsort]
	# order matters here, as it defines the order of the suffixes
	suffix =  -rc
	suffix = ""

[http]
	proxy = 194.145.60.1:9400

[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe

[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe


[guitool "GVim"]
	cmd = gvim \"${FILENAME}\"
	needsfile = yes
	noconsole = yes

[guitool "notepad++"]
	cmd = notepad++ -multiInst -nosession \"${FILENAME}\"
	needsfile = yes
	noconsole = yes


[guitool "gitk --all <file>"]
	cmd = gitk --all -- \"${FILENAME}\"
	needsfile = yes
	noconsole = yes

[guitool "Delete File"]
	cmd = rm \"${FILENAME}\"
	noconsole = yes
	needsfile = yes

